<div class=" bg-warning p-5 m-5  text-center">
    <h1>Shoes' Section</h1>
    <div class="d-inline-block ">
        <div class="card" style="width: 18rem;"><img
                src="https://images.pexels.com/photos/267320/pexels-photo-267320.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p><a href="#" class="btn btn-danger">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="d-inline-block ">
        <div class="card" style="width: 18rem;"><img
                src="https://images.pexels.com/photos/267320/pexels-photo-267320.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p><a href="#" class="btn btn-danger">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="d-inline-block ">
        <div class="card" style="width: 18rem;"><img
                src="https://images.pexels.com/photos/267320/pexels-photo-267320.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p><a href="#" class="btn btn-danger">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="d-inline-block ">
        <div class="card" style="width: 18rem;"><img
                src="https://images.pexels.com/photos/267320/pexels-photo-267320.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p><a href="#" class="btn btn-danger">Go somewhere</a>
            </div>
        </div>
    </div>
</div>